html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 62,5%;
}

body{
    background-image: url(img/bela-foto-aerea-de-uma-praia-com-colinas-ao-fundo-ao-por-do-sol.jpg);
    background-size: cover;

    font-size: 1.2rem;
}

main{
    padding: 0 30px 0 30px;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1{
    padding-top: 50px;
    color: white;
}

.user_form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    height: 100%;
    width: 100%;
}

.user_container{
    position: relative;
    margin-top: 10px;
    width: 100%;
    background-color: white;

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: text;
}

.user_container:hover,.user_container:focus-within{
    border: 0.1px solid orange;
    box-sizing: border-box;
}

.forget_line{
    margin: 5px 0 10px 0;
    display: flex;
    position: relative;
    left: 3%;
}

.forget{
    font-size: 0.8rem;
    
    text-decoration: none;
    color: burlywood;
}

.forget:hover{
    color: orange;
}

#input_login, #input_password{
    background: none;
    outline: none;
    height: 30px;
    width: 80%;
    border: none;

    position: relative;
    right: 8%;

    padding-left: 5px;
}

.icon{
    position: absolute;
    right: 5%;
    width: 15px;
}

.btn{
    margin: 10px;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 8px;

    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.btn:hover{
    background-color: orange;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
    transform: scale(1.05);
    transition: 0.1ms;
    cursor: pointer;
}

.register{
    margin-bottom: 40px;
    color: white;

    font-size: 1rem;
}

.register a{
    text-decoration: none;
    color: orange;
}

