html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(img/bela-foto-aerea-de-uma-praia-com-colinas-ao-fundo-ao-por-do-sol.jpg);
    background-size: cover;
}

main{
    width: 20vw;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1{
    padding-top: 50px;
    color: white;
}

.user_form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    height: 100%;
    width: 100%;
}

.user_container{
    position: relative;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forget{
    margin: 5px 0 10px 0;
    display: flex;
    position: relative;
    left: 19%;
}

.input_login{
    height: 30px;
    width: 60%;
    border: none;
    border-radius: 10px;

    padding-left: 5px;
}


.icon{
    position: absolute;
    right: 22%;
    width: 15px;
}

.btn{
    margin: 10px;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 8px;

    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.register{
    margin-bottom: 40px;
    color: white;
}

